{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
{% block content %}
    {{ super() }}
    <h1>Login</h1>

<form method="POST" action="{{ url_for('form') }}" novalidate>
    {{ form.csrf_token }}
    <p>
        {{ form.username.label }}<font color="red">*</font>
    {{ form.username() }}
    <ul>
        {% for error in form.username.errors %}
            <li style="color:red;">{{ error }}</li>
        {% endfor %}
    </ul><br>
    </p>

    <p>
    {{ form.password.label }}<font color="red">*</font>
    {{ form.password() }}
    <ul>
        {% for error in form.password.errors %}
            <li style="color:red;">{{ error }}</li>
        {% endfor %}
    </ul><br>
    </p>
    <!--
    <input type="submit" value="Submit">
    -->
    {{ form.remember_me() }}{{ form.remember_me.label }}<br><br>
    {{ form.submit() }}
</form>
{% endblock content %}
</body>
</html>